<div>
    <form action="">
        <div>
            <Label for="adress">
                Onde deseja morar?
                <input type="text" placeholder="Rua, bairro ou cidade...." id="adress" name="adress">
            </Label>
        </div>
        <div>
            <label for="propertyType">
                Tipo do Imovel
                <select name="propertyType" id="propertyType">
                    <option value="">Apartamento</option>
                    <option value="">Casa</option>
                </select>
            </label>
        </div>
        <div>
            <input type="button" value="Buscar">
        </div>
    </form>
</div>