<div>
    <div>
        <img src="https://picsum.photos/300/200" alt="">
    </div>
    <div>
        <p><strong>Casa</strong></p>
        <p><small>Endereço</small></p>
        <div>
            <p><small>{{ area() }}m² | {{ restrooms() }} quartos | {{ bathrooms() }} banheiro | {{parkingSpace()}}
                    Vagas</small></p>
        </div>
        <div>
            @switch (type()) {
            @case ('rent') {
            <p>Alugar</p>
            }
            @case ('sell') {
            <p>A Venda</p>
            }
            @case ('season') {
            <p>Temporada</p>
            }
            }
        </div>
        <p><strong>R$ {{price()}}/mes</strong></p>
    </div>
    <button>Enviar menssagem</button>
</div>